/*Global Header Settings*/

.header {
	margin-bottom: 50px;
}

.navbar-brand h4 {
	margin: 0;
	color: #fff;
	text-transform: uppercase; 
}

.navbar ul {
	padding-top: 5px;
}




/* About Me General*/

.about-me {
	margin: 0; 
	padding: 0; 
	font-family: 'Montserrat', sans-serif; 
} 

.about-me {
	background: url(images/whiteout.png) 50% 0 no-repeat fixed;
	background-size: 100%;
}

/* About Me Main */ 

.about-me .main {
	padding-top: 50px;
}

.about-me .main .container {
	max-width: 928px;
	margin-bottom: 20px;
} 

.about-me .myphoto img{
	display: block;
	float: left;
	margin: 10px 30px;
	border-radius: 10px;
}

.about-me .holphoto img{
	display: block;
	float: right;
	margin: 10px 30px;
	border-radius: 10px;
}

.about-me h2 {
	color: #000066;
	font-weight: 100;
}

.about-me .container p {
	color: #000066; 
	font-size: 24px
}


/* About Me Footer */ 
.about-me .footer li {
	display: inline; 
	margin-right: 40px; 
} 

.about-me .footer li a {
	color: #6B47B2; 
	text-decoration: none;
}

.about-me .footer p {
	color: #fff;
	margin: 0 30px 0 0; 
} 

.about-me .footer ul {
	padding: 0 20px; 
	margin: 0; 
	list-style: none; 
}

/* History General */

.history {
	margin: 0; 
	padding: 0; 
	font-family: 'Montserrat', sans-serif; 
} 

.history {
	background: url(images/office100_-60.jpg) 50% 0 no-repeat fixed; 
	background-size: 100%;
}


/* History Main */ 

.history .main {
	padding-top: 50px;
}

.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 400px;
	max-width: 533px;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden; /*hides the backside of a rotated element*/
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* History Main - Effect Specific*/

figure.hover-effect {
	background: #030c17;
}

figure.hover-effect img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.hover-effect figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
}

figure.hover-effect h2 {
	margin: 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.hover-effect p {
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.hover-effect:hover h2 {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

figure.hover-effect:hover figcaption::before,
figure.hover-effect:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.hover-effect:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.hover-effect:hover img {
	opacity: 0.4;
}

/* History Footer */ 
.history .footer li {
	display: inline; 
	margin-right: 40px; 
} 

.history .footer li a {
	color: #6B47B2; 
	text-decoration: none;
}

.history .footer p {
	color: #fff;
	margin: 0 30px 0 0; 
} 

/* Interests General */

.interests .main {
	padding-top: 50px;
}


.interests {
	margin: 0; 
	padding: 0; 
	font-family: 'Montserrat', sans-serif; 
} 

.interests {
	background: url(images/Music-Headphones-61874.jpg) 50% 0 no-repeat fixed; 
	background-size: 100%;
}
 

/* Interests Main */ 
.interests .content-container .container {
	max-width: 928px;
} 

.interests .content-container h1, .interests .content-container h2, .interests .content-container p {
	font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif; 
} 

.interests .content-container h1 {
	color: #fff;
	font-size: 64px; 
	font-weight: 100; 
	margin-bottom: 20px;
} 

.interests .content-container h2 {
	color: #fff; 
	font-size: 2.3em; 
	font-weight: 300; 
	line-height: 1.25; 
	margin: 1em 0; 
} 

.interests .content-container p {
	color: #fff;
	font-size: 26px; 
	font-weight: 200; 
} 

.interests .content-container .section {
	padding-top: 50px; 
	padding-bottom: 50px; 
	border-bottom: 2px solid #fff; 
}

.interests .content-container .text-box {
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
}

.interests .content-container img {
	border-radius: 10px;
}

/* Interests Footer */ 
.interests .footer li {
	display: inline; 
	margin-right: 40px; 
} 

.interests .footer li a {
	color: #6B47B2; 
	text-decoration: none;
}

.interests .footer p {
	color: #fff;
	margin: 0 30px 0 0; 
} 

.interests .footer ul {
	padding: 0 20px; 
	margin: 0; 
	list-style: none; 
}

/* Future  General */

.future {
	font-family: 'Montserrat', sans-serif; 
}

/* Future Main */ 
.future .main {
	margin: 0;
	min-width: 980px;
	padding: 0;
}

#nav {
	list-style: none;
	position: fixed;
	right: 20px;
	margin-top: 55px;
}

#intro {
    background:url(images/Earth-Tree-63087.jpg) 50% 0 no-repeat fixed;
    color: white;
    min-height: 1000px;
    margin: 0;
    padding: 360px 0 0 0;
}

#second {
    background:url(images/Man-Made-City-54606.jpg) 50% 0 no-repeat fixed;
    color: white;
    min-height: 1000px;
    margin: 0;
    padding: 360px 0 0 0;
}

#third {
    background:url(images/200829101300-10429.jpg) 50% 0 no-repeat fixed;
    color: white;
    min-height: 1000px;
    margin: 0;
    padding: 360px 0 0 0;
}

#fourth {
    background:url(images/stormy_lake_w_1920x1200.jpg) 50% 0 no-repeat fixed;
    color: white;
    min-height: 1000px;
    margin: 0;
    padding: 360px 0 0 0;
}

#fifth {
    background:url(images/6Xqri.jpg) 50% 0 no-repeat fixed;
    color: white;
    min-height: 1000px;
    margin: 0;
    padding: 360px 0 0 0;
}

.story {
    margin: 0 auto;
    min-width: 980px;
    overflow: auto;
    width: 980px;
    font-size: 30px;
    padding: 10px;
	background-color: rgba(0,0,0,0.5);
}

/* Future Footer */ 
.future .footer {
	background-color: #000;
}

.future .footer li {
	display: inline; 
	margin-right: 40px; 
} 

.future .footer li a {
	color: #fff; 
	text-decoration: none;
}

.future .footer p {
	color: #fff;
	margin: 0 30px 0 0; 
} 

.future .footer ul {
	padding: 0 20px; 
	margin: 0; 
	list-style: none; 
}

