/*Global Header Settings*/

.header {
	margin-bottom: 50px;
}

.navbar-brand h4 {
	margin: 0;
	color: #fff;
	text-transform: uppercase; 
}

.navbar ul {
	padding-top: 5px;
}




/* About Me General*/

.about-me {
	margin: 0; 
	padding: 0; 
	font-family: 'Montserrat', sans-serif; 
} 

.about-me {
	background: url(images/whiteout.png) 50% 0 no-repeat fixed;
	background-size: 100%;
}

/* About Me Main */ 

.about-me .main {
	padding-top: 50px;
}

.about-me .main .container {
	max-width: 928px;
	margin-bottom: 20px;
} 

.about-me .myphoto img{
	display: block;
	float: left;
	margin: 10px 30px;
	border-radius: 10px;
}

.about-me .holphoto img{
	display: block;
	float: right;
	margin: 10px 30px;
	border-radius: 10px;
}

.about-me h2 {
	color: #000066;
	font-weight: 100;
}

.about-me .container p {
	color: #000066; 
	font-size: 24px
}


/* About Me Footer */ 
.about-me .footer li {
	display: inline; 
	margin-right: 40px; 
} 

.about-me .footer li a {
	color: #6B47B2; 
	text-decoration: none;
}

.about-me .footer p {
	color: #fff;
	margin: 0 30px 0 0; 
} 

.about-me .footer ul {
	padding: 0 20px; 
	margin: 0; 
	list-style: none; 
}

/* History General */

.history {
	margin: 0; 
	padding: 0; 
	font-family: 'Montserrat', sans-serif; 
} 

.history {
	background: url(images/office100_-60.jpg) 50% 0 no-repeat fixed; 
	background-size: 100%;
}


/* History Main */ 

.history .main {
	padding-top: 50px;
}

.history .container {
	margin-bottom: 40px;
} 


.history .container-section .vmsection {
	background: url(images/blueprint.jpg) center;
}

.history .container-section .anzsection {
	background: url(images/money.jpg) center;
}

.history .container-section .edasection {
	background: url(images/programming.jpg) center;
}

.history .container-section .jobsection {
	height: 720px;
	opacity: 0.5;
	border-radius: 10px;
}

.history .container-section h3 {
	color: #000066;
	text-align: center;
	padding-top: 30px;
	font-family: 'Russo One', sans-serif;
}

.history .container-section a {
	text-decoration: none;
}

/* History Footer */ 
.history .footer li {
	display: inline; 
	margin-right: 40px; 
} 

.history .footer li a {
	color: #6B47B2; 
	text-decoration: none;
}

.history .footer p {
	color: #fff;
	margin: 0 30px 0 0; 
} 

/* Interests General */

.interests .main {
	padding-top: 50px;
}


.interests {
	margin: 0; 
	padding: 0; 
	font-family: 'Montserrat', sans-serif; 
} 

.interests {
	background: url(images/Music-Headphones-61874.jpg) 50% 0 no-repeat fixed; 
	background-size: 100%;
}
 

/* Interests Main */ 
.interests .content-container .container {
	max-width: 928px;
} 

.interests .content-container h1, .interests .content-container h2, .interests .content-container p {
	font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif; 
} 

.interests .content-container h1 {
	color: #fff;
	font-size: 64px; 
	font-weight: 100; 
	margin-bottom: 20px;
} 

.interests .content-container h2 {
	color: #fff; 
	font-size: 2.3em; 
	font-weight: 300; 
	line-height: 1.25; 
	margin: 1em 0; 
} 

.interests .content-container p {
	color: #fff;
	font-size: 26px; 
	font-weight: 200; 
} 

.interests .content-container .section {
	padding-top: 50px; 
	padding-bottom: 50px; 
	border-bottom: 2px solid #fff; 
}

.interests .content-container .text-box {
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
}

.interests .content-container img {
	border-radius: 10px;
}

/* Interests Footer */ 
.interests .footer li {
	display: inline; 
	margin-right: 40px; 
} 

.interests .footer li a {
	color: #6B47B2; 
	text-decoration: none;
}

.interests .footer p {
	color: #fff;
	margin: 0 30px 0 0; 
} 

.interests .footer ul {
	padding: 0 20px; 
	margin: 0; 
	list-style: none; 
}

/* Future  General */

.future {
	font-family: 'Montserrat', sans-serif; 
}

/* Future Main */ 
.future .main {
	margin: 0;
	min-width: 980px;
	padding: 0;
}

#nav {
	list-style: none;
	position: fixed;
	right: 20px;
	margin-top: 55px;
}

#intro {
    background:url(images/KQOBk.jpg) 50% 0 no-repeat fixed;
    color: white;
    min-height: 1000px;
    margin: 0;
    padding: 360px 0 0 0;
}

#second {
    background:url(images/Man-Made-City-54606.jpg) 50% 0 no-repeat fixed;
    color: white;
    min-height: 1000px;
    margin: 0;
    padding: 360px 0 0 0;
}

#third {
    background:url(images/Man-Made-Bridge-57240.jpg) 50% 0 no-repeat fixed;
    color: white;
    min-height: 1000px;
    margin: 0;
    padding: 360px 0 0 0;
}

#fourth {
    background:url(images/stormy_lake_w_1920x1200.jpg) 50% 0 no-repeat fixed;
    color: white;
    min-height: 1000px;
    margin: 0;
    padding: 360px 0 0 0;
}

#fifth {
    background:url(images/Music-Guitar-62676.jpg) 50% 0 no-repeat fixed;
    color: white;
    min-height: 1000px;
    margin: 0;
    padding: 360px 0 0 0;
}

.story {
    margin: 0 auto;
    min-width: 980px;
    overflow: auto;
    width: 980px;
}

/* Future Footer */ 
.future .footer {
	background-color: #000;
}

.future .footer li {
	display: inline; 
	margin-right: 40px; 
} 

.future .footer li a {
	color: #fff; 
	text-decoration: none;
}

.future .footer p {
	color: #fff;
	margin: 0 30px 0 0; 
} 

.future .footer ul {
	padding: 0 20px; 
	margin: 0; 
	list-style: none; 
}

